body{
  text-align:center;
}

 span {
  display: inline-block;
 } 

 #mini-layout{
  align-items:center
 }

#one img{ 
  width: 200px;
  height:auto;
}

#two img {
  width: 200px;
  height:auto;
  
}

#three img {
  width: 200px;
  height:auto;
  
} 
#four img {
  width: 200px;
  height:auto;
  } 
 





